body
{
	background-color: #fff;
	color: #333;
}

.home-index
{
	background-color: #d6ea9b;
}

.outer_container
{
	margin: 0 auto;
	padding: 1em;
	width: 800px;
}

.home-index .outer_container
{
	padding-top: 10em;
	text-align: center;
}

.home-index h1
{
	background-image: url("/images/logo.gif");
	height: 83px;
	margin: 0 auto;
	margin-bottom: 1em;
	width: 339px;
}

.home-index h1 span
{
	display: none;
}

.home-index .search
{
	margin: 0 auto;
	width: 50em;
}

.home-index .search fieldset
{
	margin: 1em 0;
}

.home-index .search input.q
{
	color: #203743;
}

.home-index .search .examples
{
	font-family: Georgia, serif;
	font-size: 1.7em;
	font-style: italic;
}

.search-index .search input
{
	color: #444;
}

.search-index .search input.q,
.home-index .search input.q
{
	background-image: url(../images/magnify.png);
	background-position: .4em .5em;
	background-repeat: no-repeat;
	font-size: 2em;
	padding: .2em .2em .2em 1.2em;
	width: 23.5em;
}

.search-index .search input.q
{
	font-size: 1.65em;
	padding-left: 1.3em;
}

.home-index .search input.submit
{
	float: right;
}

.search-index .search input.submit
{
	background-color: #eee;
	border: 1px solid #999;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-size: 1.8em;
	margin-left: .5em;
	padding: .3em .5em;
}

.search-index .search input.submit
{
	font-size: 1.55em;
}

.search-index .search input:active.submit
{
	background-color: #eaeaea;
	border: 1px solid #ccc;
	border-left: 1px solid #999;
	border-top: 1px solid #999;
}

.search_controller .outer_container
{
	padding: 0;
	text-align: left;
	width: 100%;
}

.search-index h2
{
	background-color: #444;
	border-bottom: .2em solid #f0f0f0;
	font-size: 1em;
	padding: .5em 1em;
}

.search-index h2 .logo
{
	color: #fff;
	font-size: 1.7em;
	margin-right: .5em;
}

.search-index .search
{
	display: inline;
}

.search-index h5
{
	font-size: 1.4em;
	margin: 1em 0;
}

.search-index ul
{
	margin-left: 2em;
	list-style: none;
}

.search-index li
{
	font-size: 1.2em
}
