body
{
	background-color: #fff;
	background-image: url("/images/bg_gray.gif");
	background-repeat: repeat-x;
	color: #333;
}

a
{
	color: #1b2991;
}

a:visited
{
	color: #4e4f5d;
}

a:hover
{
	color: #6570c7;
}

a:active
{
	color: red;
}

.button,
.button:visited
{
	background: #222 url(http://zurb.com/images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.button:hover
{
	background-color: #111;
	color: #fff;
}

.button:active
{
	background-color: #ccc !important;
}

.small.button,
.small.button:visited
{
	font-size: 11px;
	padding: ;
}

.button,
.button:visited,
.medium.button,
.medium.button:visited
{
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.button,
.large.button:visited
{
	font-size: 14px;
	padding: 8px 14px 9px;
}

.green.button,
.green.button:visited
{
	background-color: #91bd09;
}

.green.button:hover
{
	background-color: #749a02;
}

.blue.button,
.blue.button:visited
{
	background-color: #2daebf;
}

.blue.button:hover
{
	background-color: #007d9a;
}

.red.button, .red.button:visited
{
	background-color: #e33100;
}

.red.button:hover
{
	background-color: #872300;
}

.magenta.button,
.magenta.button:visited
{
	background-color: #a9014b;
}

.magenta.button:hover
{
	background-color: #630030;
}

.orange.button,
.orange.button:visited
{
	background-color: #ff5c00;
}

.orange.button:hover
{
	background-color: #d45500;
}

.yellow.button,
.yellow.button:visited
{
	background-color: #ffb515;
}

.yellow.button:hover
{
	background-color: #fc9200;
}

.clear
{
	clear: both;
}

.outer_container
{
	margin: 0 auto;
	padding: 1em;
	width: 800px;
}

.splash_layout .outer_container
{
	padding-top: 10em;
	text-align: center;
}

.splash_layout h1
{
	background-image: url("/images/logo_blue.gif");
	height: 83px;
	margin: 0 auto;
	margin-bottom: 1em;
	width: 339px;
}

.splash_layout h1 span
{
	display: none;
}

.splash_layout .search
{
	margin: 0 auto;
	width: 50em;
}

.default_layout .search
{
	display: inline;
	width: 42em;
}

.default_layout .search fieldset
{
	display: inline;
	margin-top: .2em;
}

.splash_layout .search fieldset
{
	margin: 1em 0;
}

.default_layout label
{
	font-size: 1.2em;
	margin: 0;
	margin-right: 1em;
}

.splash_layout .search input.q,
.default_layout .search input.q
{
	color: #203743;
}

.splash_layout .search a.submit
{
	float: right;
}

.splash_layout .search .examples
{
	font-family: Georgia, serif;
	font-size: 1.7em;
	font-style: italic;
}

.default_layout .search input.q,
.splash_layout .search input.q
{
	background-image: url("../images/magnify.png");
	background-position: .4em .5em;
	background-repeat: no-repeat;
	font-size: 2em;
	padding: .2em .2em .2em 1.2em;
	width: 23.5em;
}

.default_layout .search input.q
{
	font-size: 1.65em;
	margin-bottom: .4em;
	margin-left: .9em;
	padding-left: 1.3em;
}

.search_controller .outer_container
{
	padding: 0;
	text-align: left;
	width: 100%;
}

.default_layout h2
{
	border-bottom: 1px dotted #ccc;
	font-family: Georgia, serif;
	font-size: 1em;
	padding: 1em;
}

.default_layout h2 img
{
	margin-right: 1em;
	vertical-align: top;
}

.default_layout h2 .account_controls
{
	float: right;
	font-size: 1.8em;
	padding: .25em 0;
}

.default_layout ul
{
	list-style: none;
}

.default_layout li
{
	font-size: 1.2em
}

.default_layout .results
{
	border-bottom: 1px dotted #ccc;
/*	border-top: 1px dotted #ccc;*/
	width: 100%;
}

.default_layout .results .dates,
.default_layout .results .events
{
	background-image: url("/images/bg_gray.gif");
	background-repeat: repeat-x;
	vertical-align: top;
}

.default_layout .results .sidebar
{
	background-image: none;
	background-color: #f7f7f7;
	border-left: 1px dotted #ccc;
	vertical-align: top;
	width: 25em;
}

.default_layout .results .dates
{
	border-right: 1px dotted #ccc;
	color: #888;
	font-family: Georgia, serif;
	font-size: 1.7em;
	font-style: italic;
	padding: .6em 1em;
	text-align: center;
	width: 4em;
}

.default_layout .event
{
	clear: both;
	line-height: 1.4em;
	margin: 1em 0;
	margin-bottom: 2.5em;
	padding-right: 1em;
}

.default_layout .event:last-child
{
	margin-bottom: 1.5em;
}

.default_layout .event .title
{
	font-size: 1.5em;
	line-height: 1.2em;
	margin-bottom: .2em;
}

.default_layout .event .title .time
{
	color: #777;
	float: left;
	font-family: Georgia, serif;
	font-size: .8em;
	font-style: italic;
	margin: 0 1em;
	margin-bottom: 3em;
	text-align: right;
	width: 3.8em;
}

.default_layout .event .title a
{
	color: #2e5277;
	font-weight: bold;
	text-decoration: none;
}

.default_layout .event .title a:hover
{
	text-decoration: underline;
}

.default_layout .event .link
{
	margin-bottom: .2em;
	margin-left: 6.9em;
	margin-top: .2em;
}

.default_layout .event .link a
{
	color: #82994d;
	text-decoration: none;
}

.default_layout .event .link a:hover
{
	text-decoration: underline;
}

.default_layout .event .description
{
	margin-left: 6.9em;
}

.default_layout .event .controls
{
	padding: .5em;
	padding-left: 6.9em;
}

.default_layout .event .controls a
{
	background-color: #f2f2f2;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	color: #888;
	display: block;
	float: left;
	margin-right: 1em;
	padding: .3em .5em;
	padding-bottom: .15em;
	text-decoration: none;
}


.default_layout .event .controls a:hover
{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #fff;
}

.default_layout .event .controls .like_selected
{
	background-color: green;
}

.default_layout .event .controls .report_selected
{
	background-color: red;
}


.default_layout .event .controls .attend_selected
{
	background-color: orange;
}


.default_layout .event .controls a:hover.attend_selected
{
	background-color: #f2f2f2;
}


.default_layout .event .controls a:visited
{
	color: inherit;
}

.default_layout .event .controls a:hover.like
{
	background-color: green;
}

.default_layout .event .controls a:hover.attend
{
	background-color: orange;
}

.default_layout .event .controls a:hover.comment
{
	background-color: #1b2991;
}

.default_layout .event .controls a:hover.report
{
	background-color: red;
}

.default_layout .event .controls .stbutton
{
	background-color: #f2f2f2 !important;
	background-image: none !important; 
	padding-bottom: .1em !important;
}

.default_layout .event .controls .stbutton:hover
{
	background-color: purple !important;
}