body
{
	background-color: #fff;
	background-image: url("/images/bg_gray.gif");
	background-repeat: repeat-x;
	color: #333;
}

a
{
	color: #1b2991;
}

a:visited
{
	color: #4e4f5d;
}

a:hover
{
	color: #6570c7;
}

a:active
{
	color: red;
}

.clear
{
	clear: both;
}

.outer_container
{
	margin: 0 auto;
	padding: 1em;
	width: 800px;
}

.home-index .outer_container
{
	padding-top: 10em;
	text-align: center;
}

.home-index h1
{
	background-image: url("/images/logo_blue.gif");
	height: 83px;
	margin: 0 auto;
	margin-bottom: 1em;
	width: 339px;
}

.home-index h1 span
{
	display: none;
}

.home-index .search
{
	margin: 0 auto;
	width: 50em;
}

.search-index .search
{
	display: inline;
	width: 42em;
}

.search-index .search fieldset
{
	display: inline;
	margin-top: .2em;
}

.home-index .search fieldset
{
	margin: 1em 0;
}

.search-index label
{
	font-size: 1.2em;
	margin: 0;
	margin-right: 1em;
}

.home-index .search input.q,
.search-index .search input.q
{
	color: #203743;
}

.home-index .search input.submit
{
	float: right;
}

.home-index .search .examples
{
	font-family: Georgia, serif;
	font-size: 1.7em;
	font-style: italic;
}

.search-index .search input.q,
.home-index .search input.q
{
	background-image: url("../images/magnify.png");
	background-position: .4em .5em;
	background-repeat: no-repeat;
	font-size: 2em;
	padding: .2em .2em .2em 1.2em;
	width: 23.5em;
}

.search-index .search input.q
{
	font-size: 1.65em;
	margin-bottom: .4em;
	margin-left: .9em;
	padding-left: 1.3em;
}

.search_controller .outer_container
{
	padding: 0;
	text-align: left;
	width: 100%;
}

.search-index h2
{
	border-bottom: 1px dotted #ccc;
	font-family: Georgia, serif;
	font-size: 1em;
	padding: 1em;
}

.search-index h2 img
{
	margin-right: 1em;
	vertical-align: top;
}

.search-index h2 .account_controls
{
	float: right;
	font-size: 1.8em;
	padding: .25em 0;
}

.search-index h2 .account_controls a
{
	background-color: orange;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #fff;
	display: block;
	margin: 0;
	padding: .3em .5em;
	text-decoration: none;
}

.search-index h2 .account_controls a:hover
{
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	background-color: #eee;
	color: #999;
}

.search-index ul
{
	list-style: none;
}

.search-index li
{
	font-size: 1.2em
}

.search-index .results
{
	border-bottom: 1px dotted #ccc;
/*	border-top: 1px dotted #ccc;*/
	width: 100%;
}

.search-index .results .dates,
.search-index .results .events
{
	background-image: url("/images/bg_gray.gif");
	background-repeat: repeat-x;
	vertical-align: top;
}

.search-index .results .sidebar
{
	background-image: none;
	background-color: #f7f7f7;
	border-left: 1px dotted #ccc;
	vertical-align: top;
	width: 25em;
}

.search-index .results .dates
{
	border-right: 1px dotted #ccc;
	color: #888;
	font-family: Georgia, serif;
	font-size: 1.7em;
	font-style: italic;
	padding: .6em 1em;
	text-align: center;
	width: 4em;
}

.search-index .event
{
	clear: both;
	line-height: 1.4em;
	margin: 1em 0;
	margin-bottom: 2.5em;
	padding-right: 1em;
}

.search-index .event:last-child
{
	margin-bottom: 1.5em;
}

.search-index .event .title
{
	font-size: 1.5em;
	line-height: 1.2em;
	margin-bottom: .2em;
}

.search-index .event .title .time
{
	color: #777;
	float: left;
	font-family: Georgia, serif;
	font-size: .8em;
	font-style: italic;
	margin: 0 1em;
	margin-bottom: 3em;
	text-align: right;
	width: 3.8em;
}

.search-index .event .title a
{
	color: #2e5277;
	font-weight: bold;
	text-decoration: none;
}

.search-index .event .title a:hover
{
	text-decoration: underline;
}

.search-index .event .link
{
	margin-bottom: .2em;
	margin-left: 6.9em;
}

.search-index .event .link a
{
	color: #82994d;
	text-decoration: none;
}

.search-index .event .link a:hover
{
	text-decoration: underline;
}

.search-index .event .description
{
	margin-left: 6.9em;
}

.search-index .event .controls
{
	padding: .5em;
	padding-left: 6.9em;
}

.search-index .event .controls a
{
	background-color: #f2f2f2;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	color: #888;
	display: block;
	float: left;
	margin-right: 1em;
	padding: .3em .5em;
	padding-bottom: .15em;
	text-decoration: none;
}

.search-index .event .controls a:hover
{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #fff;
}

.search-index .event .controls a:visited
{
	color: inherit;
}

.search-index .event .controls a:hover.like
{
	background-color: green;
}

.search-index .event .controls a:hover.attend
{
	background-color: orange;
}

.search-index .event .controls a:hover.comment
{
	background-color: #1b2991;
}

.search-index .event .controls a:hover.report
{
	background-color: red;
}

.search-index .event .controls .stbutton
{
	background-color: #f2f2f2 !important;
	background-image: none !important; 
	padding-bottom: .1em !important;
}

.search-index .event .controls .stbutton:hover
{
	background-color: purple !important;
}